* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Manrope, sans-serif;
  max-width: 100%vh;
}

main {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 800;
  margin-top: 40px;
  width: 100px;
  height: 30px;
  margin-left: 80px;
}

/*--- menu --*/

.nav-menu {
  writing-mode: vertical-rl;
  display: flex;
  width: 20px;
  height: 400px;
  margin-left: 60px;
  margin-top: 100px;
}
.nav-menu li a {
  text-decoration: none;
  display: flex;
  font-weight: 200;
  font-size: 16px;
  color: #000;
}

.nav-menu ul {
  display: flex;
  width: 20px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

/*--- --- */

.show-case {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-case h2 {
  font-family: DotGothic16;
  font-size: 40px;
}

.dark-mode {
  writing-mode: vertical-rl;
  width: 60px;
  height: 300px;
  margin-top: 20px;
  margin-right: 50px;
  color: #000;
  font-weight: 200;
  font-size: 16px;
}

/* --- about ---*/

.about-title {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.about-title h2 {
  font-size: 30px;
  font-family: DotGothic16;
}

.about-me {
  margin-top: 16rem;
}

.profile-all {
  display: flex;
  justify-content: center;
}

.profile img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-top: 20px;
  margin: 50px;
}

.profile-txt {
  height: 300px;
  align-items: center;
  margin-top: 60px;
}

.profile-txt h2 {
  font-size: 30px;
  font-weight: 200;
}

.profile-txt p {
  width: 700px;
  height: 76px;
  font-size: 16px;
  font-weight: 200;
  margin-top: 20px;
}

.skills {
  display: flex;
  justify-content: center;
}

.figma,
.html-css,
.java-script,
.wordpress {
  height: 70px;
  display: flex;
}

.figma,
.html-css,
.java-script,
.wordpress,
i {
  font-size: 25px;
  align-items: center;
  margin: 20px;
}

.figma-sub,
.html-css-sub,
.java-script-sub,
.wordpress-sub {
  font-size: 15px;
  border-left: solid 1px #dcdcdc;
  padding-left: 15px;
}

.summary {
  display: flex;
  justify-content: center;
}

.summary-experience,
.summary-studies {
  width: 350px;
  height: 100px;
  border-left: solid 1px #dcdcdc;
  margin-top: 50px;
}

.summary-experience,
.summary-studies,
ul {
  list-style: none;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 200;
}

/* --- case --- */

.case {
  height: 500px;
  margin-top: 15rem;
}

.case-title {
  display: flex;
  justify-content: center;
}

.case-title h2 {
  font-size: 30px;
  font-family: DotGothic16;
}

.case-internal {
  width: 500px;
  height: 345px;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.case-internal img {
  width: 400px;
  height: 250px;
  margin-left: 50px;
  margin-top: 30px;
}

.case-internal-sub {
  width: 400px;
  height: 50px;
  margin-left: 30px;
}

.case-internal-sub h2 {
  font-size: 20px;
  font-weight: 200;
}

.case-internal1 {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.meet {
  font-size: 13px;
  margin-left: 20px;
  padding: 4px;
  color: #000;
  text-decoration: none;
  border: solid 1px #dcdcdc;
  border-radius: 4px;
}

/* --- projetct --- */

.project {
  margin-top: 18rem;
}

.project-title {
  display: flex;
  justify-content: center;
}

.project-title h2 {
  font-size: 30px;
  font-family: DotGothic16;
}

.project-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.internal-project {
  width: 600px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  margin: 30px;
}
