* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Manrope, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 800;
  margin-top: 40px;
  width: 100px;
  height: 30px;
  margin-left: 80px;
}

/*--- menu --*/

.nav-menu {
  writing-mode: vertical-rl;
  display: flex;
  width: 20px;
  height: 400px;
  margin-left: 60px;
  margin-top: 100px;
}
.nav-menu li a {
  text-decoration: none;
  display: flex;
  font-weight: 300;
  font-size: 18px;
  color: #000;
}

.nav-menu ul {
  display: flex;
  width: 20px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-menu a:hover {
  border-left: solid 4px #000;
  transition: 0.3s;
}

/*--- header--- */

.show-case {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.show-case h2 {
  font-family: DotGothic16;
  font-size: 40px;
  border-right: solid 4px #000;
  white-space: nowrap;
  overflow: hidden;
}

.dark-mode {
  writing-mode: vertical-rl;
  width: 60px;
  height: 300px;
  margin-top: 20px;
  margin-right: 50px;
  color: #000;
  font-weight: 200;
  font-size: 16px;
}

/* --- about ---*/

.about-title {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.about-title h2 {
  font-size: 30px;
  font-family: DotGothic16;
}

.about-me {
  margin-top: 16rem;
}

.profile-all {
  display: flex;
  justify-content: center;
}

.profile img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-top: 20px;
  margin: 50px;
}

.profile-txt {
  height: 300px;
  align-items: center;
  margin-top: 60px;
}

.profile-txt h2 {
  font-size: 30px;
  font-weight: 200;
}

.profile-txt p {
  width: 700px;
  height: 76px;
  font-size: 16px;
  font-weight: 200;
  margin-top: 20px;
}

.skills {
  display: flex;
  justify-content: center;
}

.figma,
.html-css,
.java-script,
.wordpress {
  height: 70px;
  display: flex;
}

.figma,
.html-css,
.java-script,
.wordpress,
i {
  font-size: 25px;
  align-items: center;
  margin: 20px;
}

.figma-sub,
.html-css-sub,
.java-script-sub,
.wordpress-sub {
  font-size: 15px;
  border-left: solid 1px #dcdcdc;
  padding-left: 15px;
}

.summary {
  display: flex;
  justify-content: center;
}

.summary-experience,
.summary-studies {
  width: 350px;
  height: 100px;
  border-left: solid 1px #dcdcdc;
  margin-top: 50px;
}

.summary-experience,
.summary-studies,
ul {
  list-style: none;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 200;
}

/* --- case --- */

.case {
  height: 500px;
  margin-top: 15rem;
}

.case-title {
  display: flex;
  justify-content: center;
}

.case-title h2 {
  font-size: 30px;
  font-family: DotGothic16;
}

.case-internal {
  width: 600px;
  height: 250px;
  display: flex;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background-color: #f4f4f4;
}

.case-internal img {
  width: 300px;
  height: 200px;
  margin: 23px;
}

.case-internal-sub {
  width: 300px;
  height: 250px;
  background-color: #fff;
}

.case-internal-sub h2 {
  font-size: 25px;
  font-weight: 200;
  text-align: center;
  margin-top: 30px;
}

.case-internal-sub p {
  font-size: 15px;
  font-weight: 100;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.case-internal1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.meet {
  width: 70px;
  height: 30px;
  font-size: 13px;
  padding: 5px;
  margin-left: 100px;
  color: #000;
  text-decoration: none;
  border: solid 1px #dcdcdc;
  border-radius: 4px;
}

/* --- projetct --- */

.project {
  height: auto;
  margin-top: 14rem;
}

.project-title {
  display: flex;
  justify-content: center;
}

.project-title h2 {
  font-size: 30px;
  font-family: DotGothic16;
  margin-bottom: 30px;
}

.project-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.internal-project {
  width: 600px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  margin: 20px;
  background-color: #f4f4f4;
  display: flex;
}

.internal-project img {
  width: 300px;
  height: 200px;
  margin: 20px;
  padding-top: 10px;
}

.internal-project h2 {
  font-size: 25px;
  font-weight: 200;
  text-align: center;
  margin-top: 30px;
}

.internal-project-sub {
  width: 320px;
  height: 250px;
  background-color: #fff;
  text-align: center;
}

.internal-project-sub p {
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: 200;
}

.internal-project-sub i {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  border: solid 1px #000;
  border-radius: 2px;
  padding: 3px;
  background-color: #f4f4f4;
  margin: 4px;
}

/* --- contact--- */

.contact-title h2 {
  font-size: 30px;
  font-family: DotGothic16;
}

.container-form {
  max-width: 900px;
  display: flex;
  margin-top: 50px;
}

.form {
  width: 600px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.input-form {
  margin-top: 20px;
  padding: 15px;
  height: 50px;
  border: none;
  border-bottom: solid 2px #f4f4f4;
  outline: none;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #666666;
}

.text-form {
  border: solid 2px #f4f4f4;
  border-radius: 5px;
  outline: none;
}

.text-form:focus {
  outline: solid 2px #000;
}

.btn-form {
  border: solid 2px #f4f4f4;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.2s ease-in;
  color: #666666;
}

/* --- form effects--- */

.form label {
  position: relative;
}
.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.bar::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.form input:focus + .bar::after {
  transform: translateX(0%);
}

.btn-form:hover {
  background-color: #000;
  color: #fff;
}

/* --- contact icons--- */

.contact-footer {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.contact i,
.fa-square-envelope,
.fa-square-github,
.fa-linkedin,
.fa-square-whatsapp {
  font-size: 55px;
  color: #000;
  margin-top: 60px;
}

.copy {
  height: 60px;
  margin-top: 10rem;
  background-color: #f4f4f4;
}

.copy p {
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  padding: 20px;
}

/*--- effect typing --- */

.animation-initial {
  animation: blinkCursor 500ms steps(38) infinite normal,
    typing 4s steps(38) 1s normal both;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 14em;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: #000;
  }
  to {
    border-right-color: transparent;
  }
}

/*--- responsive --- */

@media (max-width: 800px) {
  header {
    justify-content: center;
  }

  .nav-menu,
  .dark-mode {
    display: none;
  }

  .logo {
    margin: 50px;
  }

  .show-case {
    height: 150px;
    align-items: flex-end;
  }

  .show-case h2 {
    font-size: 25px;
    text-align: center;
  }

  .profile-all {
    flex-direction: column;
    align-items: center;
  }

  .profile-txt {
    width: 400px;
    height: 320px;
    text-align: center;
  }

  .profile-txt p {
    width: 400px;
    text-align: center;
    padding: 15px;
  }

  .skills {
    flex-wrap: wrap;
  }

  .skills i,
  h2,
  p {
    font-size: 11px;
  }

  .figma,
  .html-css,
  .java-script,
  .wordpress {
    height: 30px;
  }

  .summary {
    padding: 15px;
  }

  .case {
    height: 1150px;
  }
  .case-internal1 {
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  .case-internal {
    flex-direction: column;
    align-items: center;
    height: 520px;
  }

  .case-internal-sub {
    align-items: center;
    padding: 20px;
  }

  .meet {
    margin-left: 95px;
  }

  .internal-project {
    flex-wrap: wrap;
    height: 560px;
    justify-content: center;
  }

  .internal-project-sub {
    padding: 20px;
  }

  .container-form {
    width: 400px;
    align-self: center;
    padding: 15px;
  }
}
